<p id="notice"><%= notice %></p>

<div class = "show-post">
  <p>
    <h3><%= @post.title %></h3>
  </p>
  <p>
    <%= @post.content %>
  </p>
  <%= image_tag @post.image.url(:large)%>
</div>
 
<h2 class = "comments-headline">Comments</h2>
<%= render @post.comments %>
 
<h2 class = "comments-headline">Join in the discussion:</h2>
<%= render "comments/form" %>
 
<br />
 
<%= link_to 'Edit Post', edit_post_path(@post), class: "link-to" %> |
<%= link_to 'Back to Posts', posts_path, class: "link-to"  %> |